{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "dummy/Migration.php"
        ]
    },
    "timeout": 20,
    "logs": {
        "text": "infection.log"
    },
    "bootstrap": "./vendor/yiisoft/yii2/Yii.php",
    "mutators": {
        "@default": true
    }
}
